<div class="writing">
    <div class="titleContainer">
        <a class="title" routerLink="/writing">2020 Reading List</a>
    </div>
    <div class="introParagraph">
        TEXT GOES HERE
    </div>
    <div class="bookReviewContainer">
        <div class="bookTitleContainer">
            <span class="bookTitle">
                Zen and the Art of Motorcycle Maintenance
            </span>
        </div>
        <div class="wirContainer">
            <div class="whyIRead">
                <span class="strong">Why I read it: </span><span>stuff here</span>
            </div>
        </div>
        <div class="scoreContainer">
            <div class="score">
                <span class="strong">Score: </span><span>stuff here</span>
            </div>
        </div>
        <div class="opinionContainer">
            <div class="opinion">
                <span class="strong">My thoughts: </span><span>stuff here</span>
            </div>
        </div>
        <div class="coverPhotoContainer">
            <img class="coverPhoto" src="app/components/writing/twenty-twenty-reading-list/bookCovers/zen-and-the-art-of-motorcycle-maintenance.jpg" alt="book cover art">
        </div>
    </div>
</div>
