<div class="learning">
    <div class="titleLinkContainer">
        <div class="titleContainer">
            <div class="title">Learning</div>
        </div>
        <nav class="navbar">
            <ul class="navPills">
                <li class="navItem">
                    <a class="navLink" routerLink="how-its-made" routerLinkActive="activeHowItsMade" [routerLinkActiveOptions]="{ exact: true }">How It's Made</a>
                </li>
                <!-- <li class="navItem">
                    <a class="navLink writingLink" routerLink="/writing" routerLinkActive="activeWriting">{{navigation.blog}}</a>
                </li>
                <li class="navItem">
                    <a class="navLink learningLink" routerLink="/learning" routerLinkActive="activeLearning">{{navigation.learning}}</a>
                </li> -->
            </ul>
        </nav>
    </div>
    <div class="markdownContainer">
        <markdown [src]= "filePath" lineNumbers></markdown>
    </div>  
</div>
