<div class="learning">
    <div class="titleLinkContainer">
        <div class="titleContainer">
            <a class="title" routerLink="/learning">Learning</a>
        </div>
        <nav class="navbar">
            <ul class="navPills">
                <li class="navItem">
                    <a class="navLink" routerLink="/learning/tutorials" routerLinkActive="activeLearning" [routerLinkActiveOptions]="{ exact: true }">Tutorials</a>
                </li>
                <li class="navItem">
                    <a class="navLink" routerLink="/learning/how-its-made" routerLinkActive="activeLearning">How It's Made</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="contentContainer">
        <p *ngIf="route.children.length === 0">Testing</p>
        <router-outlet></router-outlet>
    </div>
    <!-- <div class="markdownContainer">
        <markdown [src]= "filePath" lineNumbers emoji></markdown>
    </div>   -->
</div>
