<div class="learning">
    <div class="titleLinkContainer">
        <div class="titleContainer">
            <div class="title">Learning</div>
        </div>
        <nav class="navbar">
            <ul class="navPills">
                <li class="navItem">
                    <a class="navLink" routerLink="/learning/tutorials" routerLinkActive="activeLearning" [routerLinkActiveOptions]="{ exact: true }">Tutorials</a>
                </li>
                <li class="navItem">
                    <a class="navLink" routerLink="/learning/how-its-made" routerLinkActive="activeLearning">How It's Made</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="markdownContainer">
        <markdown [src]= "filePath" lineNumbers emoji></markdown>
    </div>  
</div>
