@import "../../../assets/styles/colors.scss";

.home {
    width: 500px;
}


/*
* TITLE NAME STYLES
*/
.title{
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    margin-bottom: 0;
    color: $header-color;
    line-height:1.2em;
}

.first {
    display: flex;
    justify-content: flex-start;
}

.last {
    display: flex;
    justify-content: flex-end;
}


/*
* HERO IMAGE STYLES
*/
.imageContainer {
    display: flex;
    justify-content: flex-end;
}

.heroImage {
    max-width:450px;
    margin-right: -60px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: $header-color;
}

/*
* ABOUT SECTION STYLES
*/

.about {
    margin-top:-195px;
    line-height: 34px;
    font-size: 19px;
    max-width:234px;
}

.aboutText {
    background-color: $light-gray;
}

.link {
    -webkit-box-shadow: 0px -3px 0px 0px $hot-pink inset;
    box-shadow: 0px -3px 0px 0px $hot-pink inset;
    text-decoration: none;
}

a {
    color: $header-color;
    background-color: transparent;
}


a:visited {
    color: $header-color;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: $header-color;
    background-color: transparent;
    text-decoration: none;
}

/*
* ICON STYLES
*/
.iconContainer {
    display: flex;
}

.iconLink {
    display: flex;
    align-items: center;
}

.icon {
    width: 25px;
    margin-right: 25px;
}


/*
* MEDIA QUERIES
*/
@media (max-width: 800px) {
    .home {
        width: inherit;
    }

    .title {
        font-size: 40px;
    }

    .first {
        padding-left: 40px;
    }

    .last {
        padding-right: 40px;
    }

    .heroImage {
        width: 325px;
        margin-right: 20px;
    }

    .about {
        margin-top: -70px;
        margin-left: 20px;
        line-height: 24px;
        font-size: 14px;
    }

    .iconContainer {
        padding-left: 20px;
    }

    .icon {
        width: 20px;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .titleContainer {
        display: flex;
        margin-top: 0px;
        margin-bottom: 10px; 
    }

    .first {
        padding-left: 0px;
        padding-right: 10px;
    }

    .last {
        padding-right: 0px;
        padding-left: 10px;
    }

    .heroImage {
        width: 250px;
        margin-right: -50px;
    }

    .about {
        margin-top: -155px;
        margin-left: -50px;
        line-height: 24px;
        font-size: 14px;
    }

    .iconContainer {
        padding-left: 0px;
        margin-left: -50px;
    }
}