<div class="home">
    <h1 class="title first">Patrick</h1>
    <h1 class="title last">Fleming</h1>
    
    <div class="imageContainer">
        <img class="heroImage" src="../../../assets/images/patrick-on-rocks.jpeg" alt="Patrick Fleming">
    </div>
    
    <div class="aboutContainer">
        <p class="about">
            <span class="aboutText">Software Engineer and Serial Hobbyist. I try to share what I learn by
                <a class="link" routerLink="/blog" routerLinkActive="active">writing things down</a> and
                <a class="link" routerLink="/learning" routerLinkActive="active">creating tutorials</a>.
                Please enjoy the space dedicated to my inner creative.
            </span>
        </p>
        <div class="iconContainer"> 
            <a href="https://github.com/Splice09" title="Git Hub">
                <img class="icon" src="../../../assets/icons/gitHubMark.png">
            </a>
            <a href="https://www.linkedin.com/in/flemingjp" title="Linked In">
                <img class="icon" src="../../../assets/icons/linkedInMark.png">
            </a>
            <a href="mailto:jpf0005@gmail.com" title="Email">
                <img class="icon" src="../../../assets/icons/emailMark.png">
            </a>
        </div>
    </div>
</div>

