<div class="appContainer">
    <nav class="navbar">
        <ul class="navPills">
            <li class="navItem">
                <a class="navLink homeLink" routerLink="" routerLinkActive="activeHome" [routerLinkActiveOptions]="{ exact: true }">{{navigation.home}}</a>
            </li>
            <li class="navItem">
                <a class="navLink writingLink" routerLink="/writing" routerLinkActive="activeWriting">{{navigation.writing}}</a>
            </li>
            <li class="navItem">
                <a class="navLink learningLink" routerLink="/learning" routerLinkActive="activeLearning">{{navigation.learning}}</a>
            </li>
        </ul>
    </nav>
    
    <main class="contentContainer">
        <router-outlet></router-outlet>
    </main> 
</div>
