<div class="app-component app-container">

    <!-- <nav id="header" class="app-component navbar navbar-expand-lg navbar-dark background-primary fixed-top">
      <div class="container">
        <div class="app-component collapse navbar-collapse menuItemsContainer">
          <div class="row">
            <ul class="app-component nav nav-pills flex-column flex-lg-row mr-auto">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="">{{'mainMenu.ContractManagement' | translate}}</a>
              </li>
              <li *ngIf="!environment.disableAggMan" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/crosscontract">{{'mainMenu.CrossContract' | translate}}</a>
              </li>
              <li *ngIf="!environment.disableAggMan" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/zonemanagement">{{'mainMenu.ZoneManagement' | translate}}</a>
              </li>
              <li *ngIf="!environment.disableAggMan" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/allocationdefaults">{{'mainMenu.AllocationDefaults' | translate}}</a>
              </li>
            </ul>
          </div>
        </div> 
        
        <div *ngIf="!isUserLoggedIn && !router.isActive('/about', false) || false" class="app-component collapse navbar-collapse menuItemsContainer">
          <ul class="app-component nav nav-pills flex-column flex-lg-row ml-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/about"><i class="fa fa-info-circle"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    -->
  
    <main>
        <router-outlet ></router-outlet>
    </main> 
</div>
