<div class="appContainer">
    <nav class="navbar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{navigation.home}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blog" routerLinkActive="active">{{navigation.blog}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/learning" routerLinkActive="active">{{navigation.learning}}</a>
            </li>
        </ul>
    </nav>
    
    <main class="contentContainer">
        <router-outlet></router-outlet>
    </main> 
</div>
