<div class="writing">
    <div class="titleContainer">
        <a class="title" routerLink="/writing">Hiking Roan Mountain</a>
    </div>
    <div class="introParagraph">
        This year has been particularly exciting one for me so far. I adopted a puppy – Ada (named after 19th century mathematician Ada Lovelace), 
        a COVID vaccine released allowing the world to return to some level of normalcy, and on June 21st I turned thirty years old. <br><br>
        In appreciation of so many positives, I wanted to celebrate by embarking on what has been a dream hike of mine for the past couple of years. So, on June 25th 
        Ada and I took off work and set out with my hiking partner Zac to explore one of the premier hikes to be found on the Southeastern section of the Appalachian Trail. 
        We covered a total of 11 miles on a there-and-back from <a href="https://www.alltrails.com/explore/trail/us/tennessee/appalachian-trail-carvers-gap-to-yellow-mountain-gap" target="_blank">
        Carver’s Gap to Yellow Mountain Gap</a> with an extension down the Grassy Ridge trail.<br><br>
        Special Note: All but one of the photos were captured on my Samsung Galaxy S5. I actually have since upgraded to the Galaxy S21, but did not have time to upgrade before the hike.
        
    </div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/1mountainView.jpg" alt="View of mountains in the distance over a hill">
    <div class="photoDescription">
        The hike starts up a grassy hill and takes you through a beautifully wooded section of Conifers before topping at the first of three grassy balds before dipping into the forest. The above photo was taken at the top of the first bald looking south.
    </div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/2ada.jpg" alt="Happy German Shepherd on grassy mountain bald">
    <div class="photoDescription">
        Atop the second bald, the clouds cleared, and I could not resist a shot of Ada who was completely stoked to be on her first backpacking adventure. <br><br> 
        The temperatures on this trip were mid 60’s during the day and low to mid 50’s at night. Besides getting away from the oppressive southern heat, a major reason for making this hike in June is to see all of the blooming wildflowers.
    </div>
    <div class="photoPortraitContainer">
        <div class="photoPortraitTextWrapper">
            <img class="photoPortrait" src="app/components/writing/roan-mountain-hike/photos/3bumbleBeePortrait.jpg" alt="Bumble bee on orange flowers">
            <div class="photoCaption">
                Flame Azalea with a furry friend hard at work
            </div>
        </div>
        <div class="photoPortraitTextWrapper">
            <img class="photoPortrait" src="app/components/writing/roan-mountain-hike/photos/4pinkFlowerPortrait.jpg" alt="Pink flowers with mountains in background">
            <div class="photoCaption">
                Catawba Rhododendron
            </div>
        </div>
        <div class="photoPortraitTextWrapper">
            <img class="photoPortrait" src="app/components/writing/roan-mountain-hike/photos/5whiteFlowerPortrait.jpg" alt="White wild flowers with grass and mountain in background">
            <div class="photoCaption">
                Carolina Bugbane
            </div>
        </div>
    </div>
    <div class="photoDescription"></div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/6baldTrailView.jpg" alt="Trail running through grassy mountain balds with mountain in background">
    <div class="photoDescription">
        The above photo looks West from the top of the second bald. We left my car in the valley on the other side of the closer mountain. This point in the trail was about 1.5 miles in with only a couple hundred feet in elevation change. Starting to wonder why this trail was rated “moderate”.
    </div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/7deer.jpg" alt="Deer with mountain in background">
    <div class="photoDescription">
        One of the more special moments on the trip was being able to get this close to a White Tail Doe. Zac and I seem to have pretty good luck with encountering wildlife. This experience brought up memories of having otters run right next to us last October on our Sipsey Wilderness hike in Alabama.
    </div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/8whiteFlowers.jpg" alt="Mini white wild flowers cascading over grass">
    <div class="photoDescription">
        This was a really beautiful shot of some Hogweed, which I have since found out is actually toxic and can cause skin irritation and burns. Good thing I didn’t touch any of it! 
    </div>
    <div class="photoPortraitContainer">
        <div class="photoPortraitTextWrapper">
            <img class="photoPortrait" src="app/components/writing/roan-mountain-hike/photos/9greysLillyPortrait.jpg" alt="Rare red lilly up close">
            <div class="photoCaption">
                Gray's Lily
            </div>
        </div>
        <div class="photoPortraitTextWrapper">
            <img class="photoPortrait" src="app/components/writing/roan-mountain-hike/photos/10orangeFlowerPortrait.jpg" alt="Orange flowers brightly lit in sunlight">
            <div class="photoCaption">
                Flame Azalea
            </div>
        </div>
        <div class="photoPortraitTextWrapper">
            <img class="photoPortrait" src="app/components/writing/roan-mountain-hike/photos/11purpleFlowerPortrait.jpg" alt="Purple wild flowers up close in front of grass">
            <div class="photoCaption">
                Ohio Spiderwort
            </div>
        </div> 
    </div>
    <div class="photoDescription"></div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/12wheatGrass.jpg" alt="Up close wheat grass in front of grass with mountain in the background">
    <div class="photoDescription">
        This was taken on our return hike after visiting the notorious Red Barn at Yellow Mountain Gap. Pictured is some kind of Reed Grass. If you are able to identify it specifically, please let me know!
    </div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/13campFire.jpeg" alt="Up close shot of cozy camp fire in fading light">
    <div class="photoDescription">
        Zac actually took this photo of our campfire on the second night of the trip. We camped on a mountain ridgeline to rest before taking on the 2000 feet of elevation loss we hiked down on the first day – yep, this is where the moderate rating comes from. Because of the ridgeline, it was a very windy night, but we built up a good windshield of rocks and logs for our fire.
    </div>
    <img class="photo" src="app/components/writing/roan-mountain-hike/photos/14cloudyBald.jpg" alt="Trail running through bald grass covered mountain ridge-line with storm clouds looming above">
    <div class="closingRemarks">
        In addition to finding the hard line the clouds made over the mountains interesting, I was particularly amused by this ominous cloud hanging directly above our car on the way out. I am happy to report that the rain held off with the most serendipitous timing I have ever witnessed. It, of course, started the exact moment we closed the doors and turned the car on.<br><br>
        Roan Mountain was an exceptionally beautiful hike that fully lived up to the hype. Now that Ada is getting bigger I cannot wait to get back out there, see some more nature, and hopefully test out the S21’s camera! 
    </div>
    <div class="blankSpace">&nbsp;</div>
</div>
