/* You can add global styles to this file, and also import other style files */;

$header-color: rgba(0, 0, 0, 0.87);
$hover-highlight: rgba(0, 0, 0, .04);
$font-color: #545451;
$hot-pink: #FFAEBC;
$tiffany-blue: #A0E7E5;
$mint: #B4F8C8;
$yellow: #FBE7C6;

$alert-red: #f44336;
$alert-yellow: #fbe8AA;
$alert-green: #d4edda;

